<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Alternate Template</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  </head>

  <body>

    <div class="containter">
      {{{ content }}}
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
